body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#grid {
    width: 100%;
    height: 100%;
    background: grey;
}

.col {
    background: grey;
    float:left;
    width: 10%;
    height: 100%;
}

.block {
    width: 100%;
    height: 10%;
    background: red;
    float: left;
}
